body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchbox {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: calc( 35vw - 10px );
  z-index: 10;
}

.searchbox input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 10px;
}

.mapWrapper {
  max-width: 100%;
  height: calc(100vh - 16px)
}

@media (max-width: 480px) {
  .searchbox {
    top: 85%;
    max-width: calc( 80vw - 10px );
  }
  
  .searchbox input {
    width: 80%;
  }
}